#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.heading {
  font-size: 24pt;
  line-height: 28pt;
  font-weight: 900;
  margin-bottom: 40px;

  @media (min-width: 900px) {
    font-size: 48pt;
    line-height: 52pt;
  }

  @media (min-width: 500px) {
    font-size: 36pt;
    line-height: 38pt;
  }
  
}

.BookMarkRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 10px;
  margin-bottom: 10px;
}

.BookMark {
  position: relative;
  width: 250px;
  cursor: pointer;
}

.BookMark .Header {
  text-align: left;
}

.BookMark .Information {
  text-align: left;
}

