#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.BookMarkRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 10px;
  margin-bottom: 10px;
}

.BookMark {
  position: relative;
  width: 250px;
  cursor: pointer;
}

.BookMark .Header {
  text-align: left;
}

.BookMark .Information {
  text-align: left;
}

